figure {
  	width: 50%; /* Ширина области */
    height: 200px; /* Высота области */
    margin: 200; /* Обнуляем отступы */
    overflow: hidden; /* Прячем всё за пределами */
    min-width: 100px; /* Минимальная ширина */
}